[Unit]
Description=Run NewDomofon archive/event synchronization periodically

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=newdomofon-video-archive-event-sync.service

[Install]
WantedBy=timers.target
